
.section-map__title {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}
.iframe {
    display: block;
    margin: 0 auto;
    text-align: center;
}